:root {
	--border-color: #a0a0a0;
	--input-border-color: #c0c0c0;
	--border-radius: 1rem;
	--space: 1rem;
	--primary-color: #1677ff;
	--dark-primary-color: #003eb3;
	--background-color: #f0f0f0;
	--secondary-color: #f9f9f9;

	--transition-property: color, background-color, border-color;
	--transition-duration: 0.3s;
	--transition-timing-function: ease;

	--text-color: black;
}

body {
	display: grid;
	overflow: hidden;
	height: 100vh;
	grid-template-areas:
		"sidebar header"
		"sidebar main"
		"footer footer";
	grid-template-rows: auto 1fr auto;
	grid-template-columns: auto 1fr;

	color: var(--text-color);

	-webkit-transition: background-color 0.3s ease, color 0.3s ease;
	transition: background-color 0.3s ease, color 0.3s ease;
}

body>section {
	grid-area: sidebar;
	border-right: 1px solid var(--border-color);
	background-color: var(--background-color);

	width: 47px;
	-webkit-transition: width 0.3s ease, background-color 0.3s ease;
	transition: width 0.3s ease, background-color 0.3s ease;

	padding-left: var(--space);
	padding-right: var(--space);

	& ul {
		list-style-type: none;
		padding-inline-start: 0;
		line-height: 30px;

		& li>a {
			color: #999;
			transition: color 0.3s ease;
			white-space: nowrap;
			/* Adjust this value as needed */
			font-size: 14px;
			text-decoration: none;

			span {
				padding-right: calc(var(--space) * 2);
				opacity: 0;
				visibility: hidden;
				-webkit-transition: opacity 0.3s ease, visibility 0.3s ease, display 0.3s ease;
				transition: opacity 0.3s ease, visibility 0.3s ease, display 0.3s ease;
			}
		}

		& li>a:hover {
			color: var(--text-color);
		}
	}

	&:hover {
		@media (min-width: 916px) {
			width: 200px;

			-webkit-transition: width 0.3s ease;
			transition: width 0.3s ease;

			& ul {
				& li>a>span {
					opacity: 1;
					visibility: visible;

					-webkit-transition: opacity 0.3s ease;
					transition: opacity 0.3s ease;
				}
			}
		}
	}
}

body:has(.dark-mode:checked) {
	--border-color: #505050;
	--input-border-color: #404040;
	--border-radius: 1rem;
	--space: 1rem;
	--primary-color: #ffcc00;
	--dark-primary-color: #b38f00;
	--background-color: #202020;
	--secondary-color: #292929;
	--text-color: white;
}

body>header {
	grid-area: header;
	border-bottom: 1px solid var(--border-color);
	background-color: var(--background-color);
	color: var(--text-color);
	-webkit-transition: background-color 0.3s ease, color 0.3s ease;
	transition: background-color 0.3s ease, color 0.3s ease;

	display: flex;
	align-items: baseline;
	padding: var(--space);
	justify-content: space-between;

	& h1 {
		font-size: 1.75rem;
		margin: 0;
		flex-grow: 1;
	}

	& i {
		width: 25px;
	}

	& .dark-mode-toggle {
		color: var(--text-color);
		border: none;
		border-radius: 50%;
		width: 25px;
		cursor: pointer;

		& input[type="checkbox"] {
			display: none;
		}

		& .light {
			display: inline-block;
		}

		& .dark {
			display: none;
		}
	}

	& .dark-mode-toggle:hover {
		color: var(--primary-color);
	}
}

body>main {
	grid-area: main;
	background-color: var(--secondary-color);

	-webkit-transition: background-color 0.3s ease, color 0.3s ease;
	transition: background-color 0.3s ease, color 0.3s ease;

	height: 100%;
	overflow-y: scroll;
	padding: var(--space);
}

body>footer {
	grid-area: footer;
	border-top: 1px solid var(--border-color);
	background-color: var(--background-color);

	-webkit-transition: background-color 0.3s ease, color 0.3s ease;
	transition: background-color 0.3s ease, color 0.3s ease;

	padding: var(--space);
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	gap: var(--space);
	align-content: start;
	align-items: middle;
	justify-content: stretch;

	& item {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: var(--space);
		align-content: start;
		align-items: flex-start;
		padding: var(--space);

		& question {
			width: 300px;
			color: var(--primary-color);
			font-size: larger;
			/* text-align: right; */
		}

		& textarea {
			width: 100%;
			resize: vertical;
			max-width: 550px;
			border: 2px solid var(--input-border-color);
			border-radius: calc(var(--border-radius) / 2);
			padding: var(--space);
			background-color: var(--background-color);
		}

		& input[type="date"] {
			width: 100%;
			max-width: 550px;
			border: 2px solid var(--input-border-color);
			border-radius: calc(var(--border-radius) / 2);
			padding: var(--space);
			background-color: var(--background-color);
		}

		& item_answer {
			flex-direction: column;
			width: 100%;
			max-width: 550px;
			font-size: larger;
			padding-left: 5px;

			& input {
				&[type="radio"]:checked {
					accent-color: var(--primary-color);
				}

				padding: var(--space);
			}

			& br {
				display: block;
				content: "";
				margin: var(--space) 0;
			}
		}

		& input[type="checkbox"] {
			display: inline-block;
			vertical-align: middle;
			transform: scale(1.1);
			accent-color: var(--primary-color);
		}

		& label {
			font-size: smaller;
		}
	}

	& button[id="send"] {
		width: 100%;
		max-width: 150px;
		border: 2px solid var(--primary-color);
		border-radius: calc(var(--border-radius) / 2);
		padding: var(--space);
		background-color: var(--primary-color);
		color: white;
		font-size: larger;
		cursor: pointer;
	}

	& button[id="send"]:hover {
		background-color: var(--dark-primary-color);
	}

	& button[id="reset"] {
		width: 100%;
		max-width: 150px;
		border: 2px solid var(--input-border-color);
		border-radius: calc(var(--border-radius) / 2);
		padding: var(--space);
		background-color: white;
		color: black;
		font-size: larger;
		cursor: pointer;
	}

	& button[id="reset"]:hover {
		border-color: var(--border-color);
		background-color: var(--input-border-color);
		color: var(--text-color);
	}
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: var(--space);
}

table th,
table td {
	border: 1px solid var(--border-color);
	padding: var(--space);
	text-align: left;
}

table th {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

table tr:nth-child(even) {
	background-color: var(--secondary-color);
}

table tr:hover {
	background-color: var(--background-color);
}